.website-container {
    overflow: auto;
    
    
    
    
}
.c1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.c1-item1{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
}

.c1-item2{
    height: 100%;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    

}

.item2-a{
    
}

.header-img{
    flex-grow: 1;
    height: 250px;
    width: 600px;
}

.c-text{
    width: 700px;
    color: #F9FAF8;

}


.pic{
    height: 50px;
    width: 50px;
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size:18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}
.button{
    font-size: 15px;
    color: lightblue;
    background-color: black;
    border-radius: 8px;
}

.c2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.c2-item2{
    display: flex;
}
.c2-text{
    width: 300px;
    text-align: center;
}
.c2-pic{
    border-radius: 12px;
}
.c3{
    height: 300px;
    width: 100%;
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.c3-item1{
    height: 200px;
    width: 400px;
    flex-direction: column;
}

.diddy{
    text-align: right;
}


.c4{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c4-item1{
    background-color: #3882F6;
    border-radius: 8px;
    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;


}
.ass{
    display: flex;
    flex-direction: column;
    
    
}

.c4-text{
    color: white;   
    font-weight: bold;
    font-size: 22px ;
}
.c4-text2{
    font-weight: 0;
    font-size: 15px;
}

.c4-button{
    height: 30px;
    width: 90px;
    color: #3882F6;
    background-color: white;
    border-radius: 8px;
}

.c5{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-style: normal;
}